html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 400;
	background-color: black;
}
@keyframes rotate {
    from {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    to {
        transform: rotateX(1turn) rotateY(1turn) rotateZ(0);
    }
}


#check {
	margin-top: 20px;
}
#check:checked + label .box {
    animation-play-state: paused;
}

.box{
	width: 300px;
	height: 300px;
/* 	margin: auto; */
	position: relative;
	transform-style: preserve-3d;
	animation: rotate 10s infinite linear;
	margin: 200px auto;
	
}
.dice{
	width: 300px;
	height: 300px;
	/* border-radius: 40px; */
	background-color: #fff;
	position: absolute;
}

.doc{
	 width: 60px;
	 height: 60px;
	 margin: 20px;
	 border-radius: 50%;
	 background-color: black;
}

#dice1{
	display: flex;
	justify-content: center;
	align-items: center;
}

#dice2{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}
#dice2>div{
	width: 100%;
	height: 100px;
}

#dice2>.box2{
	display: flex;
	justify-content: flex-end;
}
#dice3 {
	display: flex;
	flex-direction: column;
	
}
#dice3>div{
	flex: 1;
}
#dice3>.box2{
	display: flex;
	justify-content: center;
	align-items: center;
}
#dice3>.box3{
	display: flex;
	justify-content: flex-end;
}

.flexBox{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flexBox>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#dice5>.box2{
	justify-content: center;
}
#dice1{
	
	transform: rotateY(90deg) translateZ(150px);

}

#dice2{
	
	transform: rotateY(-90deg) translateZ(150px);

}
#dice3{
	transform: rotateX(90deg) translateZ(150px);

}
#dice4{
	transform: rotateX(-90deg) translateZ(150px);

}
#dice5{
	transform: rotateZ(90deg) translateZ(150px);
}
#dice6{
	
	transform: rotateZ(0deg) translateZ(150px);

}
